@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #050505;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --padding-inline-section:20px;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #ffffff;
    box-shadow: 0 0 4px #c79231;
    position: fixed;
    top:0;
    z-index: 99;
    left:0;
    right: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo-img{
    width: 110px;
}

.nav-links ul{
    gap: 16px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color:#ff9100;
}

.hover-link:active{
    color:#000203;
}

.nav-item.active{
   color: #f88409; 
}

.search-box{
    height: 32px;
    gap:8px; 
}

.news-input{
    width: 200px;
    height: 30px;
    padding-inline: 12px;
}

.search-button{
    background-color: #f88409;
    color: white;
    padding:8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover{
    background-color: #050505;
}

main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px;
    min-height: 420px;
    box-shadow: 0 0 4px #f88409;
    border-radius: 4px;
    cursor: pointer;
    background-color:#ffffff;
    overflow: hidden;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.card:hover{
    box-shadow: 1px 1px 8px #050505;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}


.news-source{
    margin-block: 12px;
}

